*{
    padding: 0;
    margin: 0;
}

html{
    background-color: rgb(148, 148, 194);
}

header{
    background-color: rgb(215, 208, 208);
    width: 100%;
    height: 100px;
    
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
    

}
h2 {
    margin-top: 10%;
    text-align: center;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.respuestas{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    margin-left: 30px;
}

.respuestas div,div {
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h4 {
    border: 1px solid black;
    width: 90px;
    height:60px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.826);
    box-shadow: 3px 1px 1px;
}

.jefe{
    display: flex;
    justify-content: center;
}